---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_R7CsF65YXLyWRgQfDF7X0QBq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1BiXTtFbDoFsZOtGEFV8EkVu",
          "object": "token",
          "card": {
            "id": "card_1BiXTtFbDoFsZOtGICBQ6vTI",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2018,
            "fingerprint": "uY88PVF5bjhLynks",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "121.58.36.102",
          "created": 1515544213,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 10 Jan 2018 00:30:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: plan=base&email=ceasar.hegmann%40wiza.org&card=tok_1BiXTtFbDoFsZOtGEFV8EkVu
    headers:
      Authorization:
      - Bearer sk_test_R7CsF65YXLyWRgQfDF7X0QBq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_C6kzezZdb7R4nM",
          "object": "customer",
          "account_balance": 0,
          "created": 1515544215,
          "currency": "usd",
          "default_source": "card_1BiXTtFbDoFsZOtGICBQ6vTI",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "ceasar.hegmann@wiza.org",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1BiXTtFbDoFsZOtGICBQ6vTI",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_C6kzezZdb7R4nM",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2018,
                "fingerprint": "uY88PVF5bjhLynks",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_C6kzezZdb7R4nM/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_C6kzL884v5cDII",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1515544215,
                "current_period_end": 1518222615,
                "current_period_start": 1515544215,
                "customer": "cus_C6kzezZdb7R4nM",
                "days_until_due": null,
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_C6kzOqzaMbabh3",
                      "object": "subscription_item",
                      "created": 1515544216,
                      "metadata": {},
                      "plan": {
                        "id": "base",
                        "object": "plan",
                        "amount": 999,
                        "created": 1515483668,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {},
                        "name": "the base plan",
                        "statement_descriptor": null,
                        "trial_period_days": null
                      },
                      "quantity": 1
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_C6kzL884v5cDII"
                },
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1515483668,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "the base plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1515544215,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_C6kzezZdb7R4nM/subscriptions"
          }
        }
  recorded_at: Wed, 10 Jan 2018 00:30:17 GMT
recorded_with: VCR 3.0.3
