---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_1BjmwTFbDoFsZOtGlEv3OhTK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_R7CsF65YXLyWRgQfDF7X0QBq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_1BjmwTFbDoFsZOtGlEv3OhTK",
          "object": "event",
          "api_version": "2017-08-15",
          "created": 1515841973,
          "data": {
            "object": {
              "id": "ch_1BjmwTFbDoFsZOtGBkONdiNJ",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application": null,
              "application_fee": null,
              "balance_transaction": null,
              "captured": false,
              "created": 1515841973,
              "currency": "usd",
              "customer": "cus_C7uorJYm6Jm7VI",
              "description": "",
              "destination": null,
              "dispute": null,
              "failure_code": "card_declined",
              "failure_message": "Your card was declined.",
              "fraud_details": {},
              "invoice": null,
              "livemode": false,
              "metadata": {},
              "on_behalf_of": null,
              "order": null,
              "outcome": {
                "network_status": "declined_by_network",
                "reason": "generic_decline",
                "risk_level": "normal",
                "seller_message": "The bank did not return any further details with this decline.",
                "type": "issuer_declined"
              },
              "paid": false,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_1BjmwTFbDoFsZOtGBkONdiNJ/refunds"
              },
              "review": null,
              "shipping": null,
              "source": {
                "id": "card_1BjmWJFbDoFsZOtGsw40sXp7",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_C7uorJYm6Jm7VI",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2055,
                "fingerprint": "b50oaaDDqq8f3Ffw",
                "funding": "credit",
                "last4": "0341",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": null,
              "status": "failed",
              "transfer_group": null
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": {
            "id": "req_wEb1dHsaPoC6Xf",
            "idempotency_key": null
          },
          "type": "charge.failed"
        }
  recorded_at: Sat, 13 Jan 2018 11:29:33 GMT
recorded_with: VCR 3.0.3
