---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=12&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_R7CsF65YXLyWRgQfDF7X0QBq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1BiXTzFbDoFsZOtGDy3ikqIo",
          "object": "token",
          "card": {
            "id": "card_1BiXTyFbDoFsZOtGRfaI4m4B",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2018,
            "fingerprint": "absRO3BDqrlafIRh",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "121.58.36.102",
          "created": 1515544219,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 10 Jan 2018 00:30:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: plan=base&email=martin.jaskolski%40price.biz&card=tok_1BiXTzFbDoFsZOtGDy3ikqIo
    headers:
      Authorization:
      - Bearer sk_test_R7CsF65YXLyWRgQfDF7X0QBq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined",
            "decline_code": "generic_decline"
          }
        }
  recorded_at: Wed, 10 Jan 2018 00:30:22 GMT
recorded_with: VCR 3.0.3
